<!-- INPUT -->
<ion-item *ngIf="type !== 'textarea'" class="ion-margin-vertical">
  <ion-icon *ngIf="icon" slot="start" [name]="icon" color="primary" />
  <ion-label position="floating">{{ label }}</ion-label>
  <ion-input [formControl]="control" [autocomplete]="autocomplete" [type]="type" debounce="500" />
  <ion-buttons *ngIf="isPassword" slot="end">
    <ion-button (click)="showOrHidePassword()">
      <ion-icon slot="icon-only" [name]="isHidden ? 'eye-outline' : 'eye-off-outline' " />
    </ion-button>
  </ion-buttons>
</ion-item>
<!-- END INPUT -->

<!-- TEXTAREA -->
<ion-item *ngIf="type === 'textarea'" class="ion-margin-vertical">
  <ion-label position="floating">{{ label }}</ion-label>
  <ion-textarea [formControl]="control" debounce="500" [autoGrow]="true"></ion-textarea>
</ion-item>
<!-- END TEXTAREA -->
